main {
    .container {
        flex: 4;
        article.top {
            h2 {
                font-size: 1.8rem;
                font-weight: bold;
                width: 50%;
                border-bottom: solid 3px #000;
                margin: 200px auto 0;
                text-align: center;
            }

            article.description {
                width: 60%;
                margin: 40px auto;
                p {
                    font-size: 1.4rem;
                    text-align: justify;
                    text-justify: inter-ideograph;
                    span {
                        background: #eee;
                        font-size: 1.4rem;
                        border-radius: 5px;
                        padding: 5px;
                    }

                }
            }
        }
    }
}