* {
  font-size: 14px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  color: #000;
  font-weight: normal;
}

.sp {
  display: none;
}
@media screen and (max-width: 699px) {
  .sp {
    display: block;
  }
}

/*! Color themes for Google Code Prettify | MIT License | github.com/jmblog/color-themes-for-google-code-prettify */
pre.prettyprint {
  background: #000000;
  font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
  border: 0 !important;
  /* Specify class=linenums on a pre to get line numbering */
}
pre.prettyprint .pln {
  color: #eaeaea;
}
pre.prettyprint ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #969896;
}
pre.prettyprint li.L0,
pre.prettyprint li.L1,
pre.prettyprint li.L2,
pre.prettyprint li.L3,
pre.prettyprint li.L4,
pre.prettyprint li.L5,
pre.prettyprint li.L6,
pre.prettyprint li.L7,
pre.prettyprint li.L8,
pre.prettyprint li.L9 {
  padding-left: 1em;
  background-color: #000000;
  list-style-type: decimal;
}
@media screen {
  pre.prettyprint {
    /* string content */
    /* keyword */
    /* comment */
    /* type name */
    /* literal value */
    /* punctuation */
    /* lisp open bracket */
    /* lisp close bracket */
    /* markup tag name */
    /* markup attribute name */
    /* markup attribute value */
    /* declaration */
    /* variable name */
    /* function name */
  }
  pre.prettyprint .str {
    color: #b9ca4a;
  }
  pre.prettyprint .kwd {
    color: #c397d8;
  }
  pre.prettyprint .com {
    color: #969896;
  }
  pre.prettyprint .typ {
    color: #7aa6da;
  }
  pre.prettyprint .lit {
    color: #e78c45;
  }
  pre.prettyprint .pun {
    color: #eaeaea;
  }
  pre.prettyprint .opn {
    color: #eaeaea;
  }
  pre.prettyprint .clo {
    color: #eaeaea;
  }
  pre.prettyprint .tag {
    color: #d54e53;
  }
  pre.prettyprint .atn {
    color: #e78c45;
  }
  pre.prettyprint .atv {
    color: #70c0b1;
  }
  pre.prettyprint .dec {
    color: #e78c45;
  }
  pre.prettyprint .var {
    color: #d54e53;
  }
  pre.prettyprint .fun {
    color: #7aa6da;
  }
}

header {
  position: absolute;
  top: 0;
  z-index: 1;
  border-bottom: solid 1px #000;
  width: 100%;
  height: 88px;
  background: #fff;
}
header h1 {
  padding: 20px 0;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

main {
  height: calc(100% - 89px);
}
main nav {
  position: absolute;
  top: 88px;
  z-index: 0;
  left: 0;
  width: 20%;
  height: 100%;
  border-right: solid 1px #000;
  background: #fff;
}
main nav .menu {
  padding-top: 40px;
}
main nav .menu li {
  font-size: 1.4rem;
  padding-left: 20px;
  line-height: 2;
}
main nav .menu li a {
  font-size: 1.4rem;
  color: #000;
}
main nav .menu li:hover {
  background: #000;
}
main nav .menu li:hover a {
  color: #fff;
}
main nav .topic {
  margin-top: 50px;
}
main nav .topic li {
  padding-left: 20px;
  border-bottom: dashed 1px #000;
}
main nav .topic li:hover {
  color: #fff;
  background: #000;
}
main nav .topic li:hover p.title {
  color: #fff;
}
main nav .topic li h5 {
  font-size: 2rem;
}
main nav .topic li p {
  font-size: 1.4rem;
}
main nav .topic li p.title {
  color: #000;
}
main nav .topic li p.date {
  color: #259bda;
}
main .container {
  margin: 0 20%;
}
main .adsense {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

h5 {
  font-size: 1.6rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

p {
  font-size: 1.5rem;
}

pre {
  padding: 10px 10px;
}

textarea {
  resize: none;
}

main.detail {
  margin: 88px 20%;
  padding: 20px 40px;
}
@media screen and (max-width: 699px) {
  main.detail {
    margin: 100px 10px;
    padding: 20px 0;
  }
}
main.detail div.title {
  font-size: 3rem;
  border-bottom: solid 3px #000;
  margin-bottom: 30px;
}
@media screen and (max-width: 699px) {
  main.detail div.title {
    font-size: 2rem;
  }
}
main.detail h1 {
  margin-top: 30px;
  padding-left: 30px;
  border-left: solid 8px #000;
  margin-bottom: 10px;
}
@media screen and (max-width: 699px) {
  main.detail h1 {
    font-size: 1.7rem;
  }
}
main.detail div.content pre code span {
  word-wrap: break-word;
}

pre code {
  color: #fff;
}

.comment-btn {
  position: fixed;
  bottom: 30px;
  right: 25%;
  width: 75px;
  height: 75px;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}
@media screen and (max-width: 699px) {
  .comment-btn {
    right: 10px;
    bottom: 10px;
  }
}
.comment-btn i {
  color: #fff;
  font-size: 3rem;
}

#comment-check {
  position: absolute;
  left: -10000px;
}

.comment-field {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  bottom: -100%;
  z-index: 100;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.comment-field form {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 20px auto 0;
  padding: 30px 0;
  text-align: center;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: solid 1px #000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.comment-field form > * {
  width: 95%;
  font-size: 1.4rem;
  margin-top: 10px;
  padding: 5px;
}
.comment-field form textarea {
  text-align: left;
}
.comment-field form input[type=submit] {
  background: #fff;
  border-radius: 20px;
}

#comment-check:checked ~ .comment-field {
  bottom: 0;
}

@media screen and (max-width: 699px) {
  main#index .container {
    margin: 0;
    width: 100%;
  }
}
main#index .container article.top {
  padding: 0 20px;
  width: 100%;
}
@media screen and (max-width: 699px) {
  main#index .container article.top {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}
main#index .container article.top h2 {
  font-size: 1.8rem;
  font-weight: bold;
  width: 80%;
  border-bottom: solid 3px #000;
  margin: 100px auto 0;
  text-align: center;
}
main#index .container article.top article.description {
  width: 100%;
  margin: 40px auto;
}
@media screen and (max-width: 699px) {
  main#index .container article.top article.description {
    margin: 40px 0 0;
  }
}
main#index .container article.top article.description p {
  font-size: 1.4rem;
  text-align: justify;
  text-justify: inter-ideograph;
}
@media screen and (max-width: 699px) {
  main#index .container article.top article.description p {
    padding: 0 20px;
  }
}
main#index .container article.top article.description p span {
  background: #eee;
  font-size: 1.4rem;
  border-radius: 5px;
  padding: 5px;
}
@media screen and (max-width: 699px) {
  main#index {
    margin: 0;
    width: 100%;
  }
}

main#list {
  margin: 88px 20%;
}
@media screen and (max-width: 699px) {
  main#list {
    margin: 100px 10px;
  }
}
main#list p.no-lang {
  text-align: center;
}
main#list .contents {
  text-align: center;
}
main#list .contents select {
  width: 60%;
  font-size: 1.7rem;
  text-align: right;
  margin: 20px auto 0;
  padding: 5px 3px;
}
main#list .contents form input {
  font-size: 1.7rem;
  background: #fff;
  padding: 3px 20px;
  border-radius: 50px;
}
main#list .contents ul {
  padding: 20px 30px;
  text-align: left;
}
main#list .contents ul li {
  border-bottom: dashed 1px #000;
}

main .container {
  margin-top: 100px;
  margin-left: 20%;
}
@media screen and (max-width: 699px) {
  main .container {
    margin: 100px 0;
  }
}
main .container h2 {
  font-size: 1.8rem;
  font-weight: bold;
  width: 50%;
  border-bottom: solid 3px #000;
  margin: 30px auto 0;
  text-align: center;
}
@media screen and (max-width: 699px) {
  main .container h2 {
    width: 80%;
  }
}
main .container ul {
  width: 80%;
  margin: 30px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media screen and (max-width: 699px) {
  main .container ul {
    width: 100%;
  }
}
main .container ul li {
  font-size: 1.6rem;
  width: 45%;
  margin: 10px auto;
  border: solid 3px #aaa;
  border-radius: 15px;
  overflow: hidden;
}
@media screen and (max-width: 699px) {
  main .container ul li {
    width: 95%;
  }
}
main .container ul li div {
  text-align: center;
}
main .container ul li div img {
  width: 100%;
  height: 200px;
}
main .container ul li div p {
  font-size: 1.8rem;
  font-weight: bold;
}

#menu {
  position: absolute;
  left: -1000000px;
}

.back {
  position: absolute;
  top: 0;
  left: -101%;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
}

.sp-menu {
  width: 50px;
  height: 70px;
  position: absolute;
  top: 5px;
  left: 20px;
  z-index: 2;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background: #fff;
}
.sp-menu span {
  display: block;
  margin: 0 auto;
  width: 40px;
  height: 5px;
  background-color: #000;
  position: absolute;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.sp-menu span:nth-of-type(1) {
  top: 20px;
}
.sp-menu span:nth-of-type(2) {
  top: 35px;
}
.sp-menu span:nth-of-type(3) {
  top: 50px;
}

main nav {
  overflow: hidden;
}
@media screen and (max-width: 699px) {
  main nav {
    position: absolute;
    width: 80%;
    height: 100%;
    top: 0;
    z-index: 2;
    left: -81%;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
}
main nav ul.menu li a {
  font-size: 1.4rem;
}
main nav ul.topic li h5 {
  font-size: 1.4rem;
  width: 100%;
}
main nav ul.topic li h5:hover {
  background: #fff;
  color: #000;
}

#menu:checked ~ .sp-menu {
  left: 84%;
}
#menu:checked ~ .sp-menu span:nth-of-type(1) {
  top: 35px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
#menu:checked ~ .sp-menu span:nth-of-type(2) {
  display: none;
}
#menu:checked ~ .sp-menu span:nth-of-type(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 35px;
}

#menu:checked ~ .back {
  left: 0;
}

#menu:checked ~ nav {
  left: 0;
}

header {
  position: absolute;
}
header h1 a {
  font-size: 2rem;
}
/*# sourceMappingURL=style.css.map */