* {
  font-size: 14px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  color: #000;
  font-weight: normal;
}

.sp {
  display: none;
}
@media screen and (max-width: 450px) {
  .sp {
    display: block;
  }
}

header {
  position: fixed;
  top: 0;
  z-index: 1;
  border-bottom: solid 1px #000;
  width: 100%;
  height: 88px;
  background: #fff;
}
header h1 {
  padding: 20px 0;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

main {
  height: calc(100% - 89px);
}
main nav {
  position: fixed;
  top: 88px;
  z-index: 0;
  left: 0;
  width: 20%;
  height: 100%;
  border-right: solid 1px #000;
  background: #fff;
}
main nav .menu {
  padding-top: 40px;
}
main nav .menu li {
  font-size: 1.4rem;
  padding-left: 20px;
  line-height: 2;
}
main nav .menu li a {
  font-size: 1.4rem;
  color: #000;
}
main nav .menu li:hover {
  background: #000;
}
main nav .menu li:hover a {
  color: #fff;
}
main nav .topic {
  margin-top: 50px;
}
main nav .topic li {
  padding-left: 20px;
  border-bottom: dashed 1px #000;
}
main nav .topic li:hover {
  color: #fff;
  background: #000;
}
main nav .topic li:hover p.title {
  color: #fff;
}
main nav .topic li h5 {
  font-size: 2rem;
}
main nav .topic li p {
  font-size: 1.4rem;
}
main nav .topic li p.title {
  color: #000;
}
main nav .topic li p.date {
  color: #259bda;
}
main .container {
  margin: 0 20%;
}
main .adsense {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

h5 {
  font-size: 1.6rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

p {
  font-size: 1.5rem;
}

pre {
  padding: 30px 10px;
}

main.detail {
  margin: 88px 20%;
  padding: 20px 40px;
}
main.detail div.title {
  font-size: 3rem;
  border-bottom: solid 3px #000;
}
main.detail h1 {
  margin-top: 30px;
  padding-left: 30px;
  border-left: solid 8px #000;
}

@media screen and (max-width: 450px) {
  main#index .container {
    margin: 0;
    width: 100%;
  }
}
main#index .container article.top {
  padding: 0 20px;
  width: 100%;
}
@media screen and (max-width: 450px) {
  main#index .container article.top {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}
main#index .container article.top h2 {
  font-size: 1.8rem;
  font-weight: bold;
  width: 80%;
  border-bottom: solid 3px #000;
  margin: 100px auto 0;
  text-align: center;
}
main#index .container article.top article.description {
  width: 100%;
  margin: 40px auto;
}
@media screen and (max-width: 450px) {
  main#index .container article.top article.description {
    margin: 40px 0 0;
  }
}
main#index .container article.top article.description p {
  font-size: 1.4rem;
  text-align: justify;
  text-justify: inter-ideograph;
}
@media screen and (max-width: 450px) {
  main#index .container article.top article.description p {
    padding: 0 20px;
  }
}
main#index .container article.top article.description p span {
  background: #eee;
  font-size: 1.4rem;
  border-radius: 5px;
  padding: 5px;
}
@media screen and (max-width: 450px) {
  main#index {
    margin: 0;
    width: 100%;
  }
}

main#list {
  margin: 88px 20%;
}
main#list p.no-lang {
  text-align: center;
}

main .container {
  margin-top: 100px;
  margin-left: 20%;
}
main .container h2 {
  font-size: 1.8rem;
  font-weight: bold;
  width: 50%;
  border-bottom: solid 3px #000;
  margin: 30px auto 0;
  text-align: center;
}
main .container ul {
  width: 80%;
  margin: 30px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
main .container ul li {
  font-size: 1.6rem;
  width: 45%;
  margin: 10px auto;
  border: solid 3px #aaa;
  border-radius: 15px;
  overflow: hidden;
}
main .container ul li div {
  text-align: center;
}
main .container ul li div img {
  width: 100%;
  height: 200px;
}
main .container ul li div p {
  font-size: 1.8rem;
  font-weight: bold;
}

#menu {
  position: absolute;
  left: -1000000px;
}

.back {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
}

.sp-menu {
  width: 50px;
  height: 70px;
  position: absolute;
  top: 5px;
  left: 20px;
  z-index: 2;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background: #fff;
}
.sp-menu span {
  display: block;
  margin: 0 auto;
  width: 40px;
  height: 5px;
  background-color: #000;
  position: absolute;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.sp-menu span:nth-of-type(1) {
  top: 20px;
}
.sp-menu span:nth-of-type(2) {
  top: 35px;
}
.sp-menu span:nth-of-type(3) {
  top: 50px;
}

main nav {
  position: absolute;
  width: 80%;
  height: 100%;
  top: 0;
  z-index: 2;
  left: -80%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#menu:checked ~ .sp-menu {
  left: 84%;
}
#menu:checked ~ .sp-menu span:nth-of-type(1) {
  top: 35px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
#menu:checked ~ .sp-menu span:nth-of-type(2) {
  display: none;
}
#menu:checked ~ .sp-menu span:nth-of-type(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 35px;
}

#menu:checked ~ .back {
  left: 0;
}

#menu:checked ~ nav {
  left: 0;
}

header {
  position: absolute;
}
header h1 a {
  font-size: 2rem;
}
/*# sourceMappingURL=style.css.map */