$max-width: 699px;

.sp {
    display: none;

    @media screen and (max-width: $max-width) {
        display: block;
    }
}

.html {
    color: #EB6226;
}

.css {
    color: #3996D1;
}

.js {
color: #EDD71C;
}

.php-img {
font-size: 70px!important;
color: #838CBA;
}

.swift {
color: #F64128;
}

.ios {

}

.web {
}

.other-img {
    font-size: 70px!important;
}

.life {

}