main.detail {
    margin: 88px 20%;
    padding: 20px 40px;

    @media screen and (max-width: $max-width) {
        margin: 100px 10px;
        padding: 20px 0;
    }

    div.title {
        font-size: 3rem;
        border-bottom: solid 3px #000;
        margin-bottom: 30px;

        @media screen and (max-width: $max-width) {
            font-size: 2rem;
        }
    }

    h1 {
        margin-top: 30px;
        padding-left: 30px;
        border-left: solid 8px #000;
        margin-bottom: 10px;

        @media screen and (max-width: $max-width) {
            font-size: 1.7rem;
        }
    }

    div.content {
        pre {
            code {
                span {
                    word-wrap: break-word;
                }
            }
        }
    }
}

pre code {
    color: #fff;
}