header {
    position: fixed;
    h1 {
        a {
            font-size: 2rem;
            color: #000;
        }
    }

    @media screen and (max-width: $max-width) {
        height: 55px;
        h1 {
            line-height: 55px;
        }
    }
}