main#list {
    margin: 88px 20%;

    @media screen and (max-width: $max-width) {
        margin: 100px 10px;
    }

    p.no-lang {
        text-align: center;
    }

    .contents {
        text-align: center;
        select {
            width: 60%;
            font-size: 1.7rem;
            text-align: right;
            margin: 20px auto 0;
            padding: 5px 3px;
        }

        form {
            input {
                font-size: 1.7rem;
                background: #fff;
                padding: 3px 20px;
                border-radius: 50px;
            }
        }

        ul {
            padding: 20px 30px;
            text-align: left;
            li {
                border-bottom: dashed 1px #000;
            }
        }
    }
}