#menu {
    position: fixed;
    left: -1000000px;
}

.back {
    position: fixed;
    top: 0;
    left: -101%;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .3;
}

.sp-menu {
    width: 55px;
    height: 55px;
    position: fixed;
    top: 0px;
    left: 20px;
    z-index: 2;
    transition: all .2s;
    background: #fff;

    span {
        display: block;
        margin: 0 auto;
        width: 40px;
        height: 5px;
        background-color: #000;
        position: absolute;
        transition: all .2s;

        &:nth-of-type(1) {
            top: 10px;
        }
        &:nth-of-type(2) {
            top: 25px;
        }
        &:nth-of-type(3) {
            top: 40px;
        }
    }
}

main nav {
    overflow: hidden;
    @media screen and (max-width: $max-width) {
        position: fixed;
        width: 87%;
        height: 100%;
        top: 0;
        z-index: 2;
        left: -87%;
        transition: all .2s;
    }

    ul.menu {
        li {
            a {
                font-size: 1.4rem;
            }
        }
    }
    h5.g-nav__header {
        margin-top: 50px;
        margin-left: 20px;
    }

    ul.topic {
        li {
            // padding: 5px 0;

            p {
                line-height: 1.2;
            }
            h5 {
                font-size: 1.4rem;
                width: 100%;
                &:hover {
                    background: #fff;
                    color: #000;
                }
            }
        }
    }
}

#menu:checked ~ .sp-menu {
    left: 88%;

    span:nth-of-type(1) {
        top: 25px;
        transform: rotate(45deg);
    }
    span:nth-of-type(2) {
        display: none;
    }
    span:nth-of-type(3) {
        transform: rotate(-45deg);
        top: 25px;
    }
}
#menu:checked ~ .back {
    left: 0;
}
#menu:checked ~ nav {
    left: 0;
}