form {
    width: 80%;
    margin: 200px auto 0;

    .err {
        color: red;
        text-align: right;
        margin-right: 30px;
    }
    label {
        display: flex;
        margin: 30px;
        p {
            flex: 1;
            font-size: 1.5rem;
        }
        input {
            flex: 2;
            font-size: 1.5rem;
            padding: 5px;
        }
        select {
            flex: 2;
            font-size: 1.5rem;
        }
    }

}

.btn {
    display: flex;
    justify-content: space-between;

    .back-btn {
        a {
            font-size: 1.5rem;
        }
    }

    .post-btn {
        input {
            font-size: 1.5rem;
            padding: 10px 30px;
            
        }
    }
}

main {
    ul {
        width: 60%;
        height: 100%;
        margin: 0 auto;
        padding: 0;
        li {
            width: 100%;
            margin: 0 auto;
            border: solid 3px #000;
            border-radius: 15px;
            padding: 5px;
            margin-top: 40px;
            a {
                display: flex;
                flex-wrap: wrap;
            }
    
            h2 {
                font-size: 2rem;
                width: 100%;
            }
            p {
                font-size: 1.4rem;
                text-transform: uppercase;
                &:first-child {
                    flex: 1;
                    
                }
                &:last-child {
                    flex: 2;
                    text-align: right;
                }
            }
        }
    }
}
