form {
    width: 80%;
    margin: 100px auto 0;

    .err {
        color: red;
        text-align: right;
        margin-right: 30px;
    }
    > label {
        display: flex;
        margin: 30px;
        p {
            flex: 1;
            font-size: 1.5rem;
        }
        input {
            flex: 2;
            font-size: 1.5rem;
            padding: 5px;
        }
        select {
            flex: 2;
            font-size: 1.5rem;
        }

        > label {
            font-size: 1.5rem;
            
        }
    }

}

.btn {
    display: flex;
    justify-content: space-between;

    .back-btn {
        a {
            font-size: 1.5rem;
        }
    }

    .post-btn {
        input {
            font-size: 1.5rem;
            padding: 10px 30px;
            
        }
    }
}

main {
    ul {
        width: 60%;
        height: 100%;
        margin: 0 auto;
        padding: 0;
        li {
            width: 100%;
            margin: 0 auto;
            border: solid 3px #000;
            border-radius: 15px;
            padding: 5px;
            margin-top: 40px;
            a {
                display: flex;
                flex-wrap: wrap;
            }
    
            h2 {
                font-size: 2rem;
                width: 100%;
            }
            p {
                font-size: 1.4rem;
                text-transform: uppercase;
                &:first-child {
                    flex: 1;
                    
                }
                &:last-child {
                    flex: 2;
                    text-align: right;
                }
            }
        }
    }
}

/* ----------------------------------------------------------------------------------------------

                        detail.php用のcss

---------------------------------------------------------------------------------------------- */

main.detail {
    margin: 30px auto;
    display: flex;

    nav {
        width: 20%;
        ul {
            width: 100%;
            margin: 0;
            li {
                border: 0;
                padding: 0 20px;
            }

            .delete {
                p {
                    color: red;
                    cursor: pointer;
                    text-align: left;
                }
            }
        }
    }

    .content {
        width: 60%;
        .title {
            font-size: 2.5rem;
            border-bottom: solid 3px #000;
            margin-bottom: 30px;
        }
    
    
        h1 {
            font-size: 2rem;
            padding-left: 30px;
            border-left: solid 8px #000;
            margin-bottom: 30px;
        }
    }

    .conf-delete {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba($color: #000000, $alpha: .4);

        .screen {
            background: #fff;
            width: 50%;
            height: 50%;
            margin: 0 auto;
            margin-top: calc(10%);
            padding: 30px 10px;

            h2 {
                margin-top: 50px;
                font-size: 2rem;
                text-align: center;
                color: red;
            }
            p {
                text-align: center;
            }
            .button {
                position: relative;
                display: flex;
                justify-content: space-around;
                top: 40px;

                a {
                    color: #fff;
                    border-radius: 15px;
                    width: 30%;
                    text-align: center;
                    padding: 10px 0;
                }
                .yes {
                    background: #f00;
                }
                .no {
                    background: rgb(0, 145, 255);
                    cursor: pointer;
                }

            }
        }
    }



    p {
        font-size: 1.4rem;
    }

    a {
        font-size: 1.4rem;
        color: rgb(0, 145, 255);
        width: auto;
    }

    .point {
        background: #eee;
        padding: 3px;
        border-radius: 5px;
    }
}

@import "../../css/scss/table";